# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = rhdCode 
	email = rhdCode1987@icloud.com 
[core]
	editor = nvim
	autocrlf = input
# test comment
